PORT="" 				# Provide a value for PORT

# DB
MONGO_URI="" 				# Provide a value for MONGO_URI
# MONGO_URI=

# REDIS
REDIS_HOST="" 				# Provide a value for REDIS_HOST
REDIS_PORT="" 				# Provide a value for REDIS_PORT

# REDIS_PORT=
# REDIS_HOST=
