PORT="" 				# Provide a value for PORT

# DB
mongoURI="" 				# Provide a value for mongoURI
# mongoURI=

# REDIS
REDIS_HOST="" 				# Provide a value for REDIS_HOST
REDIS_PORT="" 				# Provide a value for REDIS_PORT

# REDIS_PORT=
# REDIS_HOST=

NODE_ENV="" 				# Provide a value for NODE_ENV
#NODE_ENV=production

# JWT Token
JWT_SECRET="" 				# Provide a value for JWT_SECRET
JWT_EXPIRES_IN="" 				# Provide a value for JWT_EXPIRES_IN